# **Desafio 1096 - Sequencia IJ 2**

URI Online Judge | 1096
##**Sequencia IJ 2** 
Adaptado por Neilor Tonin, URI  Brasil

**Timelimit: 1**

---
Você deve fazer um programa que apresente a sequencia conforme o exemplo abaixo.

###**Entrada**
Não há nenhuma entrada neste problema.

###**Saída**
Imprima a sequencia conforme exemplo abaixo

Exemplos de Entrada   | Exemplos de Saída
:-------------------: | :--------------:
                      | **I=1 J=7**
                      | **I=1 J=6**
                      | **I=1 J=5**
                      | **I=3 J=7**
                      | **I=3 J=6**
                      | **I=3 J=5**
                      | **...**
                      | **I=9 J=7**
                      | **I=9 J=6**
                      | **I=9 J=5**
                      
---

##**Sumissão** 
**PROBLEMA:** 1096 - Sequencia IJ 2

**RESPOSTA:** Accepted

**LINGUAGEM:** Python 3.4 (Python 3.4.3) [+1s]

**TEMPO:** 0.016s

**TAMANHO:** 236 Bytes

**MEMÓRIA:** -

**CODE GOLF:** 232 caracteres (+21 que a mediana)

**SUBMISSÃO:** 19/07/2018 20:40:09

---

In [1]:
I = sorted(3*list(range(1,10,2)))
J = 5*[7,6,5]
for i in range (len(J)):
    print('I={} J={}'.format(I[i],J[i]))

I=1 J=7
I=1 J=6
I=1 J=5
I=3 J=7
I=3 J=6
I=3 J=5
I=5 J=7
I=5 J=6
I=5 J=5
I=7 J=7
I=7 J=6
I=7 J=5
I=9 J=7
I=9 J=6
I=9 J=5

## **Passo a Passo**

### **Função Range**

Em vez de ser uma função, *range* é na verdade um tipo de sequência imutável, conforme documentado em [Ranges](https://docs.python.org/pt-br/3.6/library/stdtypes.html#typesseq-range) e [Tipos de sequência - lista, tupla intervalo](https://docs.python.org/pt-br/3.6/library/stdtypes.html#typesseq).

 ```
range(stop)
range(start, stop[, step])
```
#### **Parâmetros**

*   **start** - início da sequência
*   **stop[** - último elemento da sequência
*   **step]** - intervalo entre os elementos

Start e Step são parâmetros opcionais, quando não são declarados assumem os valores: start = 0 e step = 1.

Stop é definido como intervalo aberto, logo, o número definido não estará contido na sequência.

####**Intervalo aberto e intervalo fechado**

*   **intervalo aberto ]a, b[**

Todos os números no intervalo estarão contidos na sequência numérica, **exceto** os extremos.

>**Exemplo:** ]0,10[ é o mesmo que (1, 2, 3, 4, 5, 6, 7, 8, 9)

*   **Intervalo fechado: [a, b]** 

Todos os números no intervalo estarão contidos na sequência numérica, **inclusive** os extremos.

>**Exemplo:** ]0,10[ é o mesmo que (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

Vejamos:

In [2]:
#Atribui range à variável I

I = range(1,10,2)
print(I)

range(1, 10, 2)

In [3]:
#Converte o range em uma lista

I = list(I)
print(I)

[1, 3, 5, 7, 9]

In [4]:
#Concatena três listas iguais

I = 3*I
print(I)

[1, 3, 5, 7, 9, 1, 3, 5, 7, 9, 1, 3, 5, 7, 9]

In [5]:
#Organiza a lista em ordem crescente

I = sorted(I)
print(I)

[1, 1, 1, 3, 3, 3, 5, 5, 5, 7, 7, 7, 9, 9, 9]

In [6]:
#Concatena 5 listas iguais e atribui à variável J

J = 5*[7,6,5]
print(J)

[7, 6, 5, 7, 6, 5, 7, 6, 5, 7, 6, 5, 7, 6, 5]

In [7]:
J = sorted(J)
print(J)

[5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7]

Definidos os valores de I e J, vamos mandar imprimir primeiro valor de I ao primeiro valor de J, o segundo valor de I ao segundo valor de J e assim suscessivamente...

In [8]:
for i in range (len(J)):
    print('I={} J={}'.format(I[i],J[i]))

I=1 J=5
I=1 J=5
I=1 J=5
I=3 J=5
I=3 J=5
I=3 J=6
I=5 J=6
I=5 J=6
I=5 J=6
I=7 J=6
I=7 J=7
I=7 J=7
I=9 J=7
I=9 J=7
I=9 J=7

A partir do que vimos acima, vamos criar uma função com uma finalidade prática, por exemplo, imprimir uma tabuada de 0 a 10. Vejamos:

## **Definindo uma função de tabuada de multiplicação**

In [9]:
def funcao_tabuada(multiplicador):
  coeficientes = list(range(0,11))
  #multiplicador = int(input('Digite um número inteiro para ver a tabuada de multiplicação: '))
  resultado = []
  for i in range(len(coeficientes)):
    x = multiplicador*coeficientes[i]
    resultado.append(x)
    print('{} x {} = {}'.format(multiplicador,coeficientes[i],resultado[i]))

**Tabuada do 1**

In [10]:
funcao_tabuada(1)

1 x 0 = 0
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

**Tabuada do 2**

In [11]:
funcao_tabuada(2)

2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

**Tabuada do 3**

In [12]:
funcao_tabuada(3)

3 x 0 = 0
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

**Tabuada do 4**

In [13]:
funcao_tabuada(4)

4 x 0 = 0
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

**Tabuada do 5**

In [14]:
funcao_tabuada(5)

5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

**...**

**Tabuada do 10**

In [15]:
funcao_tabuada(10)

10 x 0 = 0
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

## **Referências**

*   [Documentação Python](https://docs.python.org/pt-br/3.6/library/functions.html#func-range)

*   [Excript](http://excript.com/python/funcao-range-python.html)